        <div class="container" id="footerAndBody">

            <div class="jumbotron w-100 mt-2 mb-2 bg-mainGreen text-center text-dark pt-3 pb-3">
                <h3 class="text-white">About Shelter</h3>

                <form class="mt-2">
                    <textarea class="width100 text-center rounded" rows="5" placeholder="Enter basic info about the shelter. It will be displayed on the front page."></textarea>
                </form>
                <button type="button" class="btn bg-white text-center text-dark mt-3 mb-0">AddInfo</button>


            </div>

            <div class="container bg-mainGreen text-white text-center">
                <p class="p-1">&copy; 2019 Joanna Piórkowaska, Karolina Makowska, Kajetan Krzewina</p>
            </div>
        </div>
