@model AnimalShelterWebApp.Models.InputModels.Home.AboutShelterInfoInputModel
@{

}
<div class="container" id="footerAndBody">

    <div class="jumbotron w-100 mt-2 mb-2 bg-mainGreen text-center text-dark pt-3 pb-3">
        <h3 class="text-white">About Shelter</h3>

        @using (Html.BeginForm("SetAbout", "Home", "FormMethod.Post"))
        {
        <form class="mt-2">
          
            @Html.EditorFor(m => m.Desc, new { htmlAttributes = new { @class = "width100 text-center rounded" } })

            <button type="submit" class="btn bg-white text-center text-dark mt-3 mb-0">
                Add Info
            </button>
        </form>
            
        }

    </div>

    <div class="container bg-mainGreen text-white text-center">
        <p class="p-1">&copy; 2019 Joanna Piórkowaska, Karolina Makowska, Kajetan Krzewina</p>
    </div>
</div>
